.btn {
  width: var(--width);
  height: 45px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 2px;

  font-size: 16px;
  font-weight: 700;
  line-height: 14.364px; /* 89.775% */
  letter-spacing: 0.32px;
  text-transform: uppercase;
  color: var(--primary---accent);
  cursor: pointer;
}
.btnDisable {
  color: rgba(#7481ff, 0.5);
  cursor: default;
}
