.section {
  margin-top: 251px;

  @media (max-width: 768px) {
    margin-top: 327px;
  }

  @media (max-width: 640px) {
    margin-top: 275px;
  }

  @media (max-width: 425px) {
    margin-top: 225px;
  }
}
.title {
  width: 400px;
  color: var(--primary---content);

  font-size: 45px;
  font-weight: 700;
  line-height: 140.5%;

  @media (max-width: 768px) {
    width: 100%;
  }

  @media (max-width: 640px) {
    color: var(--primary---content);
    font-size: 30px;
    font-weight: 700;
    line-height: 140.5%;
  }
}
.wrapper {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: 714px) {
    justify-content: center;
  }

  @media (max-width: 640px) {
    margin-top: 28px;
  }
}
.steps {
  display: flex;
  flex-direction: column;
  gap: 34px;

  @media (max-width: 640px) {
    gap: 20px;
  }
}
.img {
  width: 548px;
  height: 560.723px;

  @media (max-width: 1024px) {
    display: none;
  }

  @media (max-width: 714px) {
    margin-top: 30px;
    display: block;
  }

  @media (max-width: 640px) {
    margin-top: 17px;
    width: 100%;
    height: auto;
  }
}
.imgT {
  display: none;

  @media (max-width: 1024px) {
    display: block;
  }

  @media (max-width: 768px) {
    width: 246.177px;
    height: 629px;
  }

  @media (max-width: 714px) {
    display: none;
  }
}
