.videoCard {
  width: 580px;

  @media (max-width: 1024px) {
    width: 100%;
  }

  &__img {
  }

  &__title {
    margin-top: 16px;

    color: var(--primary---content, #41456b);

    font-size: 25px;
    font-weight: 700;
    line-height: 140%; /* 35px */
    letter-spacing: 0.5px;

    @media (max-width: 1024px) {
      margin-top: 12px;
    }

    @media (max-width: 640px) {
      margin-top: 4px;
      font-size: 20px;
    }
  }

  &__play {
    width: 53px;
    height: 53px;

    position: absolute;
    top: 49%;
    left: 51%;
    transform: translate(-53%, -47%);

    cursor: pointer;

    @media (max-width: 640px) {
      width: 35px;
      height: 35px;
    }
  }
}
