.input {
  padding-left: 20px;
  width: var(--width);
  height: 45px;

  border-radius: 2px;
  border: 1px solid var(--secondary---s-color);

  color: var(--secondary---text);

  font-size: 16px;
  font-weight: 500;
  line-height: 159%;

  &::placeholder {
    color: var(--secondary---s-color);
  }

  &:focus {
    outline: none;
    border-color: var(--secondary---text);
    &::placeholder {
      color: transparent;
    }
  }
}
