.article {
  width: 387px;
  display: block;

  filter: drop-shadow(0px 20px 25px rgba(0, 0, 0, 0.1));

  @media (max-width: 1250px) {
    width: 350px;
  }

  @media (max-width: 767px) {
    width: 320px;
  }

  @media (max-width: 359px) {
    width: 100%;
  }

  &__img {
    height: 230px;
  }

  &__wrapper {
    padding: 20px 30px 30px;
    background: var(--primary---white);

    @media (max-width: 1120px) {
      padding: 20px 20px 30px;
    }
  }

  &__date {
    color: var(--secondary---text);

    font-size: 16px;
    font-weight: 400;
    line-height: 180%; /* 28.8px */
    letter-spacing: 0.32px;
  }

  &__title {
    padding-right: 25px;
    color: var(--primary---content);

    font-size: 20px;
    font-weight: 600;
    line-height: 25px; /* 125% */

    @media (max-width: 1120px) {
      padding-right: 22px;
    }

    @media (max-width: 767px) {
      padding-right: 0;
    }
  }
}
