.section {
  margin-top: 170px;

  @media (max-width: 1120px) {
    margin-top: 160px;
  }

  @media (max-width: 640px) {
    margin-top: 80px;
  }
}
.wrapper {
  display: flex;
  justify-content: space-between;

  @media (max-width: 1186px) {
    gap: 20px;
  }

  @media (max-width: 1120px) {
    flex-direction: column-reverse;
    align-items: center;
    gap: 60px;
  }

  @media (max-width: 640px) {
    gap: 30px;
  }
}
.img {
  margin-top: 31px;
  width: 599px;
  height: 268px;

  @media (max-width: 1186px) {
    width: 600px;
    height: 245.122px;
  }

  @media (max-width: 1120px) {
    margin-top: 0;
    width: 600px;
    height: 245.122px;
  }

  @media (max-width: 640px) {
    width: 319.999px;
    height: 131px;
  }
}
.honda {
  width: 491px;
  height: 234px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;

  @media (max-width: 1186px) {
    width: 449.085px;
    height: 214.024px;
  }

  @media (max-width: 640px) {
    width: 239.513px;
    height: 114.381px;
  }
}
.toyota {
  width: 428px;
  height: 187px;
  opacity: 0.8;
  filter: blur(1px);
  position: absolute;
  top: 0;
  right: 0;

  @media (max-width: 1186px) {
    width: 391.463px;
    height: 171.037px;
  }

  @media (max-width: 640px) {
    width: 208.781px;
    height: 91.407px;
  }
}
.container {
  width: 500px;

  @media (max-width: 1120px) {
    width: 600px;
    display: flex;
    gap: 25px;
  }

  @media (max-width: 640px) {
    width: 100%;
    display: block;
  }
}
.containerWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (max-width: 640px) {
    gap: 30px;
    align-items: center;
  }
}
.title {
  color: var(--primary---content);

  font-size: 45px;
  font-weight: 700;
  line-height: 140.5%;

  @media (max-width: 640px) {
    font-size: 30px;
  }
}
.subtitle {
  margin-top: 20px;
  color: var(--secondary---text);

  font-size: 16px;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0.32px;

  @media (max-width: 1120px) {
    margin-top: 12px;
  }

  @media (max-width: 640px) {
    margin-top: 10px;
    font-size: 16px;
  }
}
