.seventhSwiper {
  .swiper-button-prev,
  .swiper-button-next {
    width: 53px;
    height: 53px;
    background: var(--primary---accent);
    border-radius: 50%;
    color: var(--primary---white);

    &::after {
      font-size: 24px;
    }

    @media (max-width: 767px) {
      width: 35px;
      height: 35px;

      top: 22%;

      &::after {
        font-size: 17px;
      }
    }
  }
  .swiper-button-prev {
    left: 0;
  }
  .swiper-button-next {
    right: 0;
  }
}
