.btn {
  width: var(--width);
  height: 45px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 2px;
  border: 1px solid var(--primary---accent);

  font-size: 16px;
  font-weight: 700;
  line-height: 14.364px;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  color: var(--primary---accent);

  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    border-color: var(--hover---primary);
    color: var(--hover---primary);
  }

  @media (max-width: 768px) {
    width: var(--widthM);
}
@media (max-width: 425px) {
  width: var(--widthS);
  height: 35px;
  font-size: 14px;
}
}
.btnDisable {
  border-color: rgba(#7481ff, 0.5);
  color: rgba(#7481ff, 0.5);
  cursor: default;
  &:hover {
    color: rgba(#7481ff, 0.5);
    border-color: rgba(#7481ff, 0.5);
  }
}
