.heading {
  height: 145px;
  display: flex;
  align-items: center;
  background: url('./Bg.png') center center/cover no-repeat;

  @media (max-width: 767px) {
    height: 116px;
  }
}
.title {
  padding-left: 4px;
  color: var(--primary---white);

  font-size: 60px;
  font-weight: 800;
  line-height: 108.5%; /* 65.1px */
  letter-spacing: 1.2px;

  @media (max-width: 1024px) {
    padding-left: 0;
  }

  @media (max-width: 767px) {
    font-size: 35px;
    letter-spacing: 0.7px;
  }
}
